.calendar {
  margin-bottom: 2.5rem;

  &__year {
    font-size: $font-size-lg;
    margin-bottom: $gap-md;
  }

  &__pagination {
    @include flex-center;
    margin-bottom: $gap-md;
    padding-bottom: $gap-md;
    @include border-bottom;
    p {
      text-align: center;
      margin-bottom: 0;
      font-size: $font-size-lg;
      width: 150px;
    }
  }

  &__single-event {
    @include border-bottom;
    margin-bottom: $gap-sm;
    padding-bottom: $gap-sm;

    &--day {
      margin-bottom: $gap-sm;

      .day-date {
        display: block;
        font-size: $font-size;
        font-weight: $font-weight-bold;
      }

      .day-name {
        font-weight: $font-weight-bold;
      }
    }

    .day-events {
      margin-bottom: .6rem;
      [class*=col-] {
        @include flex-center;
        @include flex-column;
      }

      p {
        margin-bottom: 0;
      }

      .event-title {
        font-weight: $font-weight-bold;
        font-size: $font-size;
        text-align: center;
        text-transform: uppercase;
      }

      .event-place {
        text-decoration: underline;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        text-align: center;
      }

      .event-hour {
        font-size: $font-size-sm;
        text-align: center;
      }

      .separate {
        @include border-bottom;
        padding-bottom: .6rem;
      }
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    button {
      margin: 2px;
    }
  }
}

//@include respond-to($tablet) {
//  .calendar {
//    padding: 7rem 2rem;
//
//    &__year {
//      font-size: 3rem;
//    }
//
//    &__pagination {
//      p {
//        font-size: 3rem;
//        width: 210px;
//      }
//    }
//
//    &__single-event {
//      &--day {
//        .day-date {
//          font-size: 2.2rem;
//        }
//        .day-name {
//          font-size: 1.4rem;
//        }
//      }
//
//      .day-events {
//        margin-bottom: 1rem;
//        .event-hour {
//          font-size: 1.4rem;
//        }
//        .event-title {
//          font-size: 2rem;
//        }
//        .event-place {
//          font-size: 1.4rem;
//        }
//      }
//    }
//
//  }
//}
