.footer {
  line-height: 20px;
  border-top: 1px solid $nav-grey;
  padding: $gap-sm 0;
  text-align: center;

  .estill-logo {
    width: 150px;
    background-image: url("../img/estill/EstillVoiceTraining_Logo_HORIZONTAL_RGB.png");
    background-position: center;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $tablet-lg) {
    padding: $gap 0;
    letter-spacing: 2px;
    font-size: $font-size-sm;
  }
}
