.logo {
  position: relative;
  font-size: $font-size-lg;
  color: $font-color-headers;
  font-family: $font-family-secondary;
  font-weight: $font-weight-bold;
  letter-spacing: .2rem;
  margin-bottom: $gap * 4;
  height: 30px;
  display: flex;
  align-items: center;
}
