.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  left: 0;
  display: flex;
  padding: $gap-md $gap*2;
  align-items: center;
  justify-content: space-between;
  background: $background-color;

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22px;
    height: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
      outline: none;
    }

    div {
      width: 1.32rem;
      height: 0.1rem;
      background: $font-color;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: left;

      &:first-child {
        transform: rotate(0);
      }

      &:nth-child(2) {
        opacity: 1;
        transform: translateX(0);
      }

      &:nth-child(3) {
        transform: rotate(0);
      }
    }

    &--open {
      div {
        background: $font-color;

        &:first-child {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          transform: translateX(20px);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .navbar {
    width: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: $nav-grey;

    &.open {
      z-index: 9;
      animation: navbarAnimateOpen .4s ease-out .4s 1 forwards;

      &:after {
        content: '';
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        animation: navbarAnimate .8s ease-out 0s 1 forwards;
        background: $white;
      }
    }

    &.close:not(.exclude) {
      animation: navbarAnimateClose .4s ease-out 1s 1 forwards;
      width: 100vw;
    }

    &__sidebar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &--link {
        font-family: $font-family-secondary;
        width: 100%;
        display: block;
        font-size: 13vw;
        color: $white;
        text-transform: lowercase;
        padding: .5rem;
        text-decoration: none;
        transition: color 0.3s linear;
        text-align: center;
        line-height: 1;

        &:hover {
          color: $blue;
        }

        @media screen and (min-width: $tablet-lg) {
          font-size: 8vw;
        }

        @media screen and (min-width: $desktop) {
          font-size: 6vw;
        }

        @media screen and (min-width: $desktop-xl) {
          font-size: 4vw;
        }
      }

      &--language {
        display: flex;
        justify-content: center;
      }

      &--social-container {
        display: flex;
        width: 200px;
        justify-content: space-between;
        align-items: center;
        margin-top: $gap*2;

        &--link {
          color: $blue;
        }
      }
    }
  }
}

@keyframes navbarAnimate {
  0% {
    width: 0;
  }
  50% {
    width: 100vw
  }
  100% {
    width: 0;
  }
}

@keyframes navbarAnimateOpen {
  0% {
    width: 0;
  }
  100% {
    width: 100vw;
  }
}

@keyframes navbarAnimateClose {
  0% {
    width: 100vw;
  }
  100% {
    width: 0;
  }
}
