.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  left: 0;
  display: flex;
  padding: $gap-md $gap*2;
  align-items: center;
  justify-content: space-between;
  background: transparent;

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
      outline: none;
    }

    div {
      width: 2rem;
      height: 0.1rem;
      background: $font-color;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;

      &:first-child {
        transform: rotate(0);
      }

      &:nth-child(2) {
        opacity: 1;
        transform: translateX(0);
      }

      &:nth-child(3) {
        transform: rotate(0);
      }
    }

    &--open {
      div {
        background: $font-color;

        &:first-child {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          transform: translateX(20px);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .navbar {
    width: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    &.open {
      width: 100vw;
      background-color: $nav-grey;
    }

    &__sidebar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &--link {
        font-family: $font-family-secondary;
        width: 100%;
        display: block;
        font-size: 13vw;
        color: $white;
        text-transform: lowercase;
        padding: .5rem;
        text-decoration: none;
        transition: color 0.3s linear;
        text-align: center;

        &:hover {
          color: $blue;
        }
      }

      &--language {
        display: flex;
        justify-content: center;
      }
    }
  }
}
