.contact-page {
  &__hero {
    text-align: center;

    &--img {
      .aspectratio-content {
        div {
          height: 100%;

          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    @media screen and (min-width: $desktop) {
      @include hero-container-desktop;

      &--img.aspectratio-container.fit-height {
        @include hero-img-desktop;
      }

      &--text {
        @include hero-text-desktop;
      }
    }
  }
}
