.contact-page {
  &-container {
    text-align: center;

    .aspectratio-container {
      .aspectratio-content {
        img {
          width: 100%;
          object-position: top;
        }
      }
    }
  }

  &__title,
  &__subtitle,
  &__email {
    //color: $light-grey;
    //z-index: 3;
    //text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3), -1px 2px 2px rgba(0, 0, 0, 0.1);
  }

  &__title {
    //@include page-title;
  }

  &__subtitle {
    //font-weight: $font-weight-bold;
  }

  &__email {
    //font-size: $font-size-lg;
    //margin: 1rem;
    //line-height: 1;
  }
}
