.home-page {
  &__hero {
    &--carousel {
      .aspectratio-content {
        div {
          height: 100%;

          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    &--text {
      @include page-title;
    }

    @media screen and (min-width: $desktop) {
      @include hero-container-desktop;

      &--carousel.aspectratio-container.fit-height {
        @include hero-img-desktop;
      }

      &--text {
        @include hero-text-desktop;
      }
    }

  }
}
