.text-right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.text-center {
  text-align: center;
  display: flex;
  justify-content: center;
}

.text-italic {
  font-style: italic;
}
