@mixin box-sizing($val) {
  -webkit-box-sizing: $val;
  -moz-box-sizing: $val;
  box-sizing: $val;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-bottom() {
  border-bottom: 1px solid $light-grey;
}

@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin hero-container-desktop {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-top: -$gap * 7;
  flex-direction: row-reverse;
}

@mixin hero-text-desktop {
  flex: 0 0 40%;
  margin-right: $gap;
}

@mixin hero-img-desktop {
  height: 70%;
  width: 70%;
}

@mixin page-title {
  h3 {
    font-size: 6vw;

    @media screen and (min-width: $tablet-lg) {
      font-size: 4vw;
    }

    @media screen and (min-width: $desktop) {
      font-size: 3vw;
    }

    @media screen and (min-width: $desktop-xl) {
      font-size: 2vw;
    }
  }
}
