$font-color: #3a3c49;

$background-color: #efecea;

$white: #ffffff;
$black: #000000;

$grey: #bababa;
$blue: #94a8b3;

$light-grey: #dedcde;

$dark-grey: #dcd3c9;

$nav-grey: #e2ded9;

$brown: #635940;
$light-brown: #96907E;
