$gap-sm: 0.625rem;
$gap: 1rem;
$gap-md: 1.25rem;
$gap-lg: 1.875rem;

$navigation-height-sm: 70px;

// breakpoints
$desktop-xl: 1200px;
$desktop-xs: 1050px;
$desktop: 960px;
$tablet-lg: 600px;
$tablet: 480px;
